<div id="how-to-ride-sidebar" class="sidebar" ng-show="displaySidebar == true">
    <div class="pull-right sidebar-close"><a href="" class="img-anchor" ng-click="closeSidebar()"><i class="fa fa-times fa-2x"></i></a></div>
    <div class="container-fluid" style="width: 100%; padding: 2em 0.75em 0 0.75em;">
        <h1 style="color: #bf1e2d;" class="text-center header-bold">{{ stations[selected].name }}</h1>
        <div class="text-center">
            <img class="img-responsive" src="{{ stations[selected].thumbnail}}" style="margin: 0 auto;">
            <hr>
            
        </div>
        <p class="text-red text-sidebar">{{ stations[selected].description }}</p>
    </div>
</div>
<div id="how-to-ride-page" style="width: 100%;" ng-click="closeSidebar()">
    
    <!-- Steps To Register -->
    <section id="steps-to-register">
        <div class="container">
            <h1 class="text-center header-bold">HOW TO REGISTER?</h1>
            <p class="text-center">With a simple 3-step process, you can start immediately start riding our bikes. Quickly get to your classes, activities, all while helping the environment.</p>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h1 class="text-center header-bold">1</h1>
                    <h2 class="text-center header-bold">Sign Up</h2>
                    <div class="step-description">
                        <p>First, sign up to be a user at the form below.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1 class="text-center header-bold">2</h1>
                    <h2 class="text-center header-bold">Attend An Orientation</h2>
                    <div class="step-description">
                        <p>Second, attend an orientation and bike safety seminar at any of the available dates. This is required for all users to keep everyone secure and happy while riding.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1 class="text-center header-bold">3</h1>
                    <h2 class="text-center header-bold">Start Using Bikes</h2>
                    <div class="step-description">
                        <p><strong>You're done!</strong> Search for bikes at our stations below and start riding!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center step-link">
                        <a href="http://tinyurl.com/UPbikesharesignupform" ng-click="" class="button-reversed">BECOME A USER</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center step-link">
                        <a href="" ng-click="openOrientationModal()" class="button-reversed">VIEW SCHEDULES</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center step-link">
                        <a href="" ng-click="scrollTo('our-bike-stations')" class="button-reversed">FIND BIKES</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Find Our Stations -->
    
    <section id="our-bike-stations">
        <div class="container">
            <h1 class="text-center header-bold">OUR BIKE STATIONS</h1>
            <p class="text-center">You'll be able to find our stations on many major buildings in the campus. Check them out below.</p>
            <div class="text-center" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <div ng-repeat="station in stations">
                    <div class="hovereffect" style="width: 300px;">
                        <img class="img-box-small" src="{{ station.thumbnail }}">
                        <div class="overlay">
                            <h2 class="header-bold">{{ station.name }}</h2>
                            <p>
                                <a href="" ng-click="$event.stopPropagation(); openSidebar(station.id)" class="info" >Read Description</a>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>