<div class="" style="height: 200px; margin-top: 50px; border-top: 3px solid #bf1e2d;" ng-controller="FooterController">
    <div class="text-red" style="margin-top: 2em; margin-bottom: 50px;">
        <h3 class="text-center header-bold">GOT QUESTIONS OR CONCERNS?</h3>
        <h1 class="text-center header-bold"><a href="" ng-click="setChoice(0)" class="a-red">EMAIL US</a> - <a href="#/about-us#about-us-contact-us" class="a-red">LEAVE US A MESSAGE</a> - <a href="" ng-click="setChoice(1)" class="a-red">HOTLINE</a></h1>
        <h3 class="text-center" ng-if="choice == 0">upbikeshare@gmail.com</h3>
        <h3 class="text-center" ng-if="choice == 1">+63 915 115 3166</h3>
    </div>
</div>