<div class="navbar-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <a href="#"><img class="img-responsive img-link navbar-brand" src="https://d4z6dx8qrln4r.cloudfront.net/image-5718f2c1ae0c3-default.png"></a>
            </div>
            <div class="col-md-7 col-md-offset-4">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#/how-to-ride">HOW TO RIDE</a></li>
                    <li><a href="#/about-us">ABOUT THE TEAM</a></li>
                    <li class="text-emphasize"><a href="http://tinyurl.com/UPbikesharesignupform" target="_blank">SIGN UP</a></li>
                    <li class="text-emphasize"><a href="https://docs.google.com/forms/d/13CS1e3dm1KwbWUJnFUgSsQvnH5b1RHe_eoAq3Qd87DU/viewform?c=0&w=1" target="_blank">JOIN THE TEAM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>