<div>
    <!-- Mast Head => mast-head -->
    <section id="mast-head">
        <div class="container-fluid wide-background">
            <div class="red-box-slim col-md-offset-1">
                <div class="col-md-3"></div>
                <div class="col-md-8 red-box-contents">
                    <h1 class="pull-right text-right header-bold">Ride the<br>cleanest and<br>easiest<br>transport<br>in UP</h1>
                    <a class="pull-right button-white" href="http://tinyurl.com/UPbikesharesignupform" target="_blank">I WANT TO RIDE</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Bike Share Intro => bike-share-intro -->
    <section id="bike-share-intro">
        <div class="container-fluid wide-background">
            <div class="red-box-slim col-md-offset-7">
                <div class="col-md-1"></div>
                <div class="col-md-11 red-box-contents">
                    <h1 class="header-bold">UP Diliman's<br>New Ride</h1>
                    <p><span class="text-emphasize">UP Bike Share</span> is a new way of getting around UP by using shared bikes! If you're tired of walking in the hot summer heat, waiting in line for jeepneys, it's time to give bike riding a try. Just <a href="http://tinyurl.com/UPbikesharesignupform" target="_blank" class="text-emphasize-link">sign-up</a>, get a bike from our stations, and start riding!<br><br>Don't forget to return the bike!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Bike Share => why-bike-share -->
    <section id="why-bike-share">
        <div class="row section-header red-box-contents">
            <h1 class="text-center header-text header-bold">Why ride our bikes?</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div id="home-why-ride-1" class="col-md-6 white-box">
                    <div class="white-box-contents">
                        <h1 class="text-center header-bold">CONVENIENT</h1>
                        <p class="text-center">No more sweaty walks, full parking, packed jeepneys, or being late to class. Get a bike when you need it, to where you need it, ASAP.</p>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <img class="img-responsive" src="assets/img/bg-home-why-ride-5-edit.jpg" style="min-width: 100%; padding: 0;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 no-padding" style="width: 50%; height: 100%;">
                    <img class="img-responsive" src="assets/img/bg-home-why-ride-2-edit.jpg" style="width: 100%; height: 100%; overflow: hidden; padding: 0;">
                </div>
                <div id="home-why-ride-2" class="col-md-6 white-box">
                    <div class="white-box-contents">
                        <h1 class="text-center header-bold">Cost Efficient</h1>
                        <p class="text-center">Why buy an expensive bike or spend money on gas? With UP Bike Share, you spend less, as bike maintenance is shared between us and all our users.<br><br>And guess what? Right now, using our bikes is <span class="text-emphasize">free of charge</span> for an entire sem. It's the best time to sign-up!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="home-why-ride-3 wide-background" class="col-md-6 white-box">
                    <div class="white-box-contents">
                        <h1 class="text-center header-bold">Eco Friendly</h1>
                        <p class="text-center">Experience the UP campus like you've never before through your bike rides - all while helping the environment be a bit more sustainable.</p>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <img class="img-responsive" src="assets/img/bg-home-why-ride-4-edit.jpg" style="min-width: 100%; padding: 0;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 no-padding">
                    <img class="img-responsive" src="assets/img/bg-home-why-ride-3-edit.jpg" style="min-width: 100%; padding: 0;">
                </div>
                <div id="home-why-ride-4" class="col-md-6 white-box">
                    <div class="white-box-contents">
                        <h1 class="text-center header-bold">Simple</h1>
                        <p class="text-center">Unlike other bike-sharing systems worldwide, we don't use complicated tech on the racks. With our 4th-generation technology, everything you need is on the bike, ready to go!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ride With Us => ride-with-us -->
    <section id="ride-with-us">
        <div class="container wide-background">
            <div class="row" style="max-width: 100%; margin: 0;">
                <div class="col-md-1"></div>
                <div class="col-md-3 transparent-box-contents">
                    <h1 class="text-center header-bold">RIDE WITH US.</h1>
                    <h1 class="text-center header-bold">OR JOIN OUR TEAM.</h1>
                    <a class="button-regular col-md-12 text-center header-bold" style="margin: 10% 0 5% 0;" href="http://tinyurl.com/UPbikesharesignupform" target="_blank">I WANT TO RIDE</a>
                    <a class="button-regular col-md-12 text-center header-bold" href="https://docs.google.com/forms/d/13CS1e3dm1KwbWUJnFUgSsQvnH5b1RHe_eoAq3Qd87DU/viewform?c=0&w=1" target="_blank">I WANT TO JOIN THE TEAM</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Station Locations => station-locations -->
    <section id="station-locations">
        <div class="section-header red-box-contents">
            <h1 class="text-center header-text header-bold">Where can you find us?</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="copy-space">
                    <h2 class="text-over-white header-bold">Find our bikes all over the campus.</h2>
                    <p class="text-over-white">You'll never have to look far for a bike with UP Bike Share. Our bikes can be found in stations in nearly every major building in the campus. <strong>Click on a marker to see details about that station.</strong></p>
                </div>
            </div>
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                <ui-gmap-window 
                    show="map.window.show"
                    coords="map.window.model"
                    options="map.window.options"
                    closeClick="map.window.closeClick()"
                    templateParameter="map.window.content">
                    <div style="color: #555; padding: 10px;">
                        <h1>{{ map.window.content.name }}</h1><hr>
                        <p style="font-weight: 100;">{{ map.window.content.description }}... <a href="#/how-to-ride#our-bike-stations" class="text-red">Read More</a></p>
                    </div>
                </ui-gmap-window>
                <ui-gmap-markers models="map.markers" idKey="'id'" coords="'coords'" events="map.markersEvents">
                </ui-gmap-markers>
            </ui-gmap-google-map>
            <div class="row">
                <div class="col-md-3" style="float: none; margin: 0 auto;">
                    <div class="text-center">
                        <a class="button-reversed text-center" href="#/how-to-ride#our-bike-stations">VIEW ALL STATION INFO</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>