<div id="about-us">
    <!-- About UP Bike Share => about-us-about-upbs -->
    <section id="about-us-about-upbs">
        <div style="width: 100%; height: 0; position: relative; height: 768px;">
            <video autoplay loop style="position: absolute; top: 0; left: 0; width: 100%; overflow-y: hidden; z-index: -1; border-bottom: 3px solid #bf1e2d;">
                <source src="assets/vid/intro-video-loop.mp4" type="video/mp4">
            </video>
            <div style="background-color: rgba(0,0,0,0.45); top: 20%; position: absolute; width: 100%; padding-top: 3em;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-responsive" src="assets/img/upbs-logo-3c.png" style="margin: auto; max-height: 200px; padding-top: 3em;">
                        </div>
                        <div class="col-md-6 text-white">
                            <h1 class="text-center header-bold">HELP US CREATE A <strong>GREENER</strong> UP DILIMAN</h1>
                            <hr>
                            <p>The UP Bike Share is an endorsed arm of the Office of the Vice Chancellor and is one of UP's newest student organizations. We bring together UP students who are passionate about creating greener spaces through a more sustainable mode of transportation. With our efforts, we're one step closer to giving UP students an easier, faster, and more eco-friendly way to get around campus.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="text-center header-bold" style="padding-bottom: 3em;">
                                <a href="https://docs.google.com/forms/d/13CS1e3dm1KwbWUJnFUgSsQvnH5b1RHe_eoAq3Qd87DU/viewform?c=0&w=1" target="_blank" class="button-regular">JOIN OUR TEAM</a>
                                <a href="" ng-click="scrollTo('about-us-contact-us')" class="button-regular">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- Contact Us => about-us-contact-us -->
    <section id="about-us-contact-us" style="margin-top: 15em; color: #bf1e2d">
        <div class="container">
            <h1 class="text-center header-bold">CONTACT US</h1>
            <hr>
            <div class="row text-center">
                <div class="col-md-4">
                    <h1 class="header-bold">Facebook</h1>
                    <a href="http://www.facebook.com/upbikesharing" target="_blank" class="img-anchor"><i class="fa fa-facebook-square fa-5x"></i></a>
                </div>
                <div class="col-md-4">
                    <h1 class="header-bold">E-mail</h1>
                    <p>Shoot us a message at <span class="text-emphasize">upbikeshare@gmail.com</span></p>
                </div>
                <div class="col-md-4">
                    <h1 class="header-bold">Number</h1>
                    <p>Talk to us at <span class="text-emphasize">+63 915 115 3166</span></p>
                </div>
            </div>
        </div>
    </section>
</div>