<div id="orientation-modal">
    <section style="position: relative;">
        <div style="position: absolute; top:1%; left: 95%;"><a href="" ng-click="close()" class="img-anchor"><i class="fa fa-times fa-2x"></i></a></div>
        <div style="padding: 3em;">
            <div class="modal-header">
                <h1 class="text-center" style="margin-bottom: 0;">ORIENTATION SEMINARS</h1>
            </div>
            <div class="modal-body">
                <div style="background: #bf1e2d; color: white;" class="text-center">
                    <p style="margin-bottom: 0;">Upcoming orientation dates are as follows:</p>
                    <ul style="display:block; margin: 0 auto; list-style: none;">
                        <li>April 24, 2016- 1-4PM</li>
                        <li>May 2, 2016- 1-4PM</li>
                        <li>May 10, 2016- 1-4PM</li>
                    </ul>
                    <p>For accepted applicants, sign up in one of these dates!</p>
                </div>
                <p style="font-family: 'Gill Sans', sans-serif;">
                    Initial accepted candidates to the Bike Share program are <span class="text-emphasize">required to attend one orientation seminar</span>. The orientation will consist of <span class="text-emphasize">four</span> parts: (1) orientation of the system, (2) bike safety seminar (3) guidelines and security measures, and (4) contract signing.<br><br>
                    The orientation of the system is to integrate the users into how the system works such as where and how students are able to borrow bikes, as well as where to park these bikes. The rules and conditions of the system are also discussed so that any clarifications can be addressed and the users can be fully informed.<br><br>
                    Afterwards, there will be a <span class="text-emphasize">bike safety seminar</span>, as well as a lecture on other <span class="text-emphasize">guidelines and security measures</span>. These lessons include how to ride the bike as well as safety precautions when riding a bike as well as proper road etiquettes (i.e. wearing a helmet and using the bike lane only). Users are also taught how to adjust the bike seat, how to check if the breaks work, etc. At the end of the orientation, each user will be fully capable of using this system and riding their own bike around the campus.<br><br>
                    The final stage is the <span class="text-emphasize">contract signing</span> where all the terms and conditions are agreed to by the applicants.
                </p>
            </div>
        </div>
    </section>
</div>