/* CSS Effects */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
    background-color: rgba(221, 75, 87, 0.4);
}

.hovereffect img {
    display: block;
    position: relative;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff !important;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(250px);
    -ms-transform: translateY(250px);
    transform: translateY(250px);
    -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(225px);
    -ms-transform: translateY(225px);
    transform: translateY(225px);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s  cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.3s  cubic-bezier(0.88,-0.99, 0, 1.81);
    font-weight: normal;
    margin: -30px 0 0 0;
    padding: 100px 50px;
    font-size: 0.75em;
}

.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

/* Sidebar Transition */

.sidebar.ng-hide {
    left: 100%;
}

.sidebar.ng-hide-add, .sidebar.ng-hide-remove {
    transition: all ease 0.5s;
}

/*
.sidebar.ng-hide-add {
    transition: all linear 0.5s;
    left: 75%;
}

.sidebar.ng-hide-remove {
    transition: 0.5s;
    left: 100%;
}*/