/* Images */
.img-box-small {
    height: 300px;
    width: 300px;
    background-color: gray;
    margin: 0;
    padding: 0;
    border: 0;
}

.img-link {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.img-link: hover {
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 25%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 75%;
    z-index: 100;
    background-color: white;
    border-left: 1px solid rgba(0,0,0,0.2);
}

.sidebar-close {
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em;
    color: rgba(0, 0, 0, 0.2);
}

.close-button {
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em;
    color: rgba(0, 0, 0, 0.2);
}

/* Display Elements */
.red-box-slim {
    height: 100%;
    padding-right: 15px;
    background-color: #dd4b57 !important;
    max-width: 25%;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.red-box-contents {
    color: white;
    margin-top: 100px;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Tag Elements */
.img-anchor {
    color: inherit;
}

.img-anchor:hover {
    color: inherit;
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: pointer;
}
/* Text Elements */
.text-white {
    color: white;
}

.text-red {
    color: #bf1e2d;
}

.text-sidebar {
    font-size: 1.25em;
}

.text-emphasize-link {
    text-decoration: underline;
    font-weight: 700;
}

.text-emphasize-link:hover,
.text-emphasize-link:focus {
    color: #bf1e2d;
}