/*!
* Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Quicksand",sans-serif;
    color: #bf1e2d;
    background-color: white;
    webkit-tap-highlight-color: rgba(255,255,255,.2);
    margin-top: 70px;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: inherit;
}

.navbar-custom {
    border-bottom: 1px solid #ccc;
    letter-spacing: 1px;
    background: 0 0;
    color: black;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: white;
}

.navbar-custom ul {
    display: inline-block;
    line-height: 70px;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.navbar-custom li {
    display: inline;
    padding-right: 3%;
    height: 100%;
}

.navbar-custom a {
    font-size: 1em;
    color: #bf1e2d;
}

.navbar-custom a:hover {
    font-size: 1em;
    color: #bf1e2d;
    text-decoration: underline;
    cursor: pointer;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 0px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #000;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        margin-top: 25px;
        padding-top: 75px;        
    }

    .content-section img {
        height: auto;
        width: auto;
    }

    .download-section {
        padding: 100px 0;
    }

    .alternate {
        color: #be202d;
        background-color: white;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .alternate2 {
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #ffffff;
    color: #fff;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #fff;
    outline: 0;
    color: #000;
    background-color: #fff;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

/* Reusable Elements */

navbar-main {
    width: 100%;
    padding: 2em 0 2em 0;
    background-color: white;
    color: #bf1e2d;
    margin: 0;
}

.button-white {
    font-family: "Quicksand",sans-serif;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    color: #bf1e2d;
    border: 3px solid white;
}

.button-white:hover {
    cursor: pointer;
    background-color: #bf1e2d;
    color: white;
}

.button-regular {
    color: white;
    font-family: "Quicksand",sans-serif;
    padding: 10px 20px 10px 20px;
    border: 3px solid white;
}

.button-regular:hover {
    color: white;
    cursor: pointer;
    border: 3px solid #bf1e2d;
    background-color: #bf1e2d;
}

.button-reversed {
    font-family: "Quicksand",sans-serif;
    color: white;
    border: 3px solid #bf1e2d;
    background-color: #bf1e2d;
    padding: 10px 20px 10px 20px;
}

.button-reversed:hover {
    cursor: pointer;
    color: #bf1e2d;
    background-color: white;
}

.button-white-hover {
    font-family: "Quicksand",sans-serif;
    padding: 10px 20px 10px 20px;
    color: white;
    border: 3px solid white;
}

.button-white-hover:hover {
    cursor: pointer;
    border: 3px solid white;
    background-color: white;
    color: #bf1e2d;
}

.wide-background {
    display: table;
    height: 600px;
    width: 100%;
}

.section-header {
    width: 100%;
    background: #bf1e2d;
    padding: 2em 0 2em 0;
    margin: 0;
}

.white-box {
    color: #bf1e2d;
    padding: 10% 0% 5% 0%;
}

.white-box-contents {
    padding: 0 5% 0 5%;
}

.transparent-box-contents {
    color: white;
    margin-top: 100px;
}

.no-padding {
    padding: 0;
}

.header-text {
    margin: 0px;
}

.header-bold {
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
}

.text-over-white {
    color: #bf1e2d
}

.img-link:hover {
    cursor: pointer;
    opacity: 0.4;
}

.navbar-brand {
    height: 50px;
    margin: 10px 10px 10px 10px;
    padding: 0;
}

.text-emphasize {
    font-weight: 700;
}

.a-red {
    color: #bf1e2d;
    text-decoration: none;
}

.a-red:hover {
    text-decoration: underline;
    color: #bf1e2d;
}