/* Page: Home */

/* Section: Mast Head */
#mast-head .wide-background {
    background: url('/src/assets/img/bg-home-mast-head.jpg') no-repeat 50% 50%;
    background-size: cover;
    border-bottom: 3px solid #bf1e2d;
}

#mast-head .red-box-slim,
#bike-share-intro .red-box-slim, {
    max-width: 30%;
}

/* Section: Bike Share Intro */
#bike-share-intro .wide-background {
    background: url('/src/assets/img/bg-home-bike-share-intro.jpg') no-repeat 50% 50%;
    background-size: cover;
}

#bike-share-intro .red-box-contents {
    margin-top: 50px;
}

@media (max-width: 1500px) {
    #mast-head .red-box-slim {
        max-width: 30%;
        color: black;
    }
    
    #bike-share-intro .red-box-slim {
        max-width: 30%;
        color: black;
    }
    
    #bike-share-intro .red-box-contents {
        margin-top: 30px;
    }
}

@media (max-width: 1366px) {
    #mast-head .red-box-slim {
        max-width: 35%;
    }
    
    #bike-share-intro .red-box-slim {
        max-width: 35%;    
    }
    
    #bike-share-intro .red-box-contents {
        margin-top: 30px;
        margin-bottom: 0;
    }
}

@media (max-width: 1100px) {
    #mast-head .red-box-slim {
        max-width: 40%;
    }
    
    #bike-share-intro .red-box-slim {
        max-width: 40%;
        padding-right: 2em;
    }
    
    #bike-share-intro .red-box-contents {
        margin-top: 20px;
        margin-bottom: 0;
        padding-top: 5px;
        padding-right: 0;
    }
}

/* Section: Ride With Us */
#ride-with-us .wide-background {
    background: url('/src/assets/img/bg-home-why-ride-1.jpg') no-repeat 50% 50%;
    background-size: cover;
    border-top: 3px solid #bf1e2d;
}

@media (max-width: 1366px) {
    #home-why-ride-2 {
        padding: 5% 0 0 0;
    }
}

@media (max-width: 1130px) {
    #home-why-ride-2 {
        padding: 2% 0 0 0;
    }
    
    #home-why-ride-2 .white-box-contents {
        padding: 0 3% 0 3%;
    }
}

@media (max-width: 1055px) {
    #home-why-ride-1 {
        padding: 6% 0 0 0;
    }
    
    #home-why-ride-2 {
        padding: 1% 0 0 0;
    }
    
    #home-why-ride-3 {
        padding: 6% 0 0 0;
    }
    
    #home-why-ride-4 {
        padding: 6% 0 0 0;
    }
}

/* Section: Station Locations */
.copy-space {
    margin: 2em 0 0 2em;
}

.angular-google-map-container {
    border: 3px solid #bf1e2d;
    height: 600px;
    margin: 0 0 3em 0;
}

/* Page: How To Ride */
#how-to-ride-page h1,
#how-to-ride-page h2,
#how-to-ride-page h3,
#how-to-ride-page h4,
#how-to-ride-page h5,
#how-to-ride-page h6,
#how-to-ride-page p {
  color: #bf1e2d;
}

/* Section: Steps To Register */
#steps-to-register {
    margin-top: 10em;
    color: #bf1e2d;
}

#steps-to-register .container {
    width: 75%;
}

.step-description {
    margin-top: 3em;
}

.step-link {
    margin-top: 10em;
}

/* Section: Find Stations */

#our-bike-stations {
    margin-top: 5em;
    border-top: 3px solid #bf1e2d;
}

#our-bike-stations .container {
    margin-top: 5em;
}

#how-to-ride-sidebar .text-sidebar {
    padding: 0 0.75em 0 0.75em;
}

/* Page: About Us */

/* Section: Bike Share Description */

/* Section: Contact Us */

@media screen and (max-width: 1440px) {
    #about-us-contact-us {
        margin-top: 5em !important;
    }
}

@media screen and (max-width: 1300px) {
    #about-us-contact-us {
        margin-top: 0 !important;
    }
}